.portfolioContainer {
  width: 100%;
  height: auto;
  padding: 1rem 0.5rem;
}
.projectsType {
  width: 50px;
  margin: 25px 10px;
  padding: 5px 5px;
  cursor: pointer;
  text-align: center;
}
.cardsP {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  gap: 15px;
  width: 90%;
  height: 80%;
  margin: 0 auto;
  margin-top: 5%;
}
.active {
  background-color: var(--primary-color);
}
.cardP {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.cardP img {
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoP {
  position: absolute;
  top: 0;
  left: 0;
  text-align: end;
  display: none;
  padding-left: 10px;
  color: white;
  width: 100%;
  height: 100%;
  text-align: end;
  background-color: rgba(128, 128, 128, 0.484);
  transition: background-color 0.5s, transform 0.5s;
}
.cardP:hover .infoP {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.cardP:hover img {
  transform: scale(1.2);
}
.iconP {
  color: white;
  width: 40px;
  height: 40px;
}

@media (max-width: 900px) {
  .portfolioContainer {
    height: auto;
  }

  .cardsP {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 15px;
    width: 90%;
    height: 40%;
    margin: 0 auto;
    margin-top: 18%;
  }
}
@media (max-width: 450px) {
  .cardsP {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 15px;
    width: 90%;
    height: 70%;
    margin: 0 auto;
    margin-top: 18%;
  }
  .cardP {
    height: 290px;
    width: 90%;
    margin: 0 auto;
  }
  .portfolioContainer {
    height: auto;
  }
}
